
@import "../../main.scss";


.toolbarContainer{
    height: 56px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    box-shadow: $shadow;
    position: fixed;
    background-color: white;
    box-sizing: border-box;
    z-index: 500;
    top: 0;
}

.leftToolBar{
    display: flex;
    margin-right: 20px;
    align-items: center
}

.icons, .user-icon{
    border-radius: $border-raduis;
    justify-content: center;
    box-sizing: border-box; 
    display: flex;
    align-items: center;
}

.user-icon{
    width: 32px;   
    height: 32px;
}

.searchField{
    max-width: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 40px;
    height: 31px;
    padding: 2px 6px;

    input{
        height: 31px;
        padding: 2px;
        box-sizing: border-box;
        width: 50vw;
        max-width: 515px;
        border: solid map-get($colors, ytLightGrey) 1px;
        border-radius: '0 2px 2px 0'  
    }

    button{
        background-color: #f8f8f8;
        width: 60px;
        height: 31px;
        border: solid map-get($colors, ytLightGrey) 1px;
        border-radius: 0 2px 2px 0;
        border-left-width: 0px;
    }

    button:hover{
        border-color:#c6c6c6;
        background-color: #f0f0f0;
        box-shadow: $shadow;
        border-left-width: 1px;
        
        .searchIcon{
            svg{
            fill: map-get($colors, ytGrey);
            }
        }
    }
}

.searchIcon{
    width: 20px;
    height: 20px;
    padding: 0px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    svg{
        fill: get-map($colors, ytGrey);
    }
}


.searchIcon,button, .user-icon, .icons{
    cursor: pointer;
}


